.w-40{
    width: 40%;
}
.w-70{
    width: 70%;
}
.text-color{
  color: #202020BF;
}
.vertical-divider {
    border-left: 1px solid #ddd; 
    height: 100%;
    margin: 0 15px; 
  }

  .postpaid-button{
    background-color: #1364F11A;
    color: #1364F1;
  }
  .C-pointer{
    cursor: pointer;
  }
  .custom-modal-width  {
  width: 800px;
  }
  
  .custom-modal-width .modal-body {
    padding: 20px;
  }
  
  @media (max-width:768px) {
    .text-sm{
      font-size: 16px;
    }
  }
  @media (max-width:768px) {
    .sm-d-flex{
     display: flex !important;
     flex-direction: row !important;
    }
  }
  @media (max-width:768px) {
    .margin-right-0{
      margin-right: 0px !important;
      padding: 0px !important;
    }
  }
  @media (max-width:768px) {
    .sm-fs_14{
      font-size: 14px;
      
    }
  }
  @media (max-width:768px) {
    .sm-w-100{
      width: 100% !important;
      
    }
  }
  @media (max-width:768px) {
    .custom-flex{
     display: flex !important;
     flex-direction:row  !important;

    }
  }