  .accordion {
    --bs-accordion-btn-icon: url(../../../../public/assets/images/svg/secondPlus.svg) !important;
    --bs-accordion-btn-active-icon: url(../../../../public/assets/images/svg/minus.svg) !important;
    --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-active-bg: transparent;
  }
  .accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 4px 1px 20px 3px #ffffff !important;
    /* box-shadow: transparent !important; */
    border-bottom: 2px black;
  }
  .item-box{
    border: 2px  solid #E3E3E3;
    margin-top: 20px;
  }
  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 9px;
    overflow-anchor: hidden;
    transition: var(--bs-accordion-transition);
  }
  .border-bottom-radius{
   border-bottom: 1px solid rgb(97, 94, 94);
  }