.table > :not(caption) > * > * {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
    background-color: none;
    border-bottom-width: var(--bs-border-width);

  }
  .table > :not(caption) > * > * {
    padding: .5rem .5rem;
    color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: none;
  }
  .table th {
    text-align: start;
    vertical-align: middle;
    padding: 10px;
      border-bottom-width: medium;

  }
  .table td {
    text-align:start;
    vertical-align: middle;
    padding: 10px;
border-radius: 5%;
      border-bottom-width: medium;
  }
  .font-color{
    color: #F79E1B;
  }
  .Progress-button{
    background-color: #0E80291A;
    color: #0E8029;
    border: none;
  }
  .Action-button{
    background-color: #FFFAE5;
    color: #F79F1A;
    border: none;
  }
  .bg-pdf{
    background-color: #F3F3F399;
  }
  .initial{
    background-color: #F8F8F8;
    color: #151515;
  }

  @media (max-width:768px) {
    .responsive-botton{
      display: flex;
      align-items: flex-start;
   padding: 2px 2px;
   margin: 0;

    }
  }
  @media (max-width:768px) {
    .sm-fs-10{
        font-size: 0.5rem;
    }
  }
  @media (max-width:768px) {
    .flex-dir-col{
       flex-direction: column;
    }
  }
  @media (max-width:768px) {
    .text-sm-nowrap{
      text-wrap: nowrap;
    }
  }
  @media (max-width:768px) {
    .sm-w-50{
      width: 53% !important;
    }
  }
  @media (max-width:768px) {
    .d-sm-flex{
      display: flex;
      gap: 5px;
    }
  }