.Custom_button{
    background-color: #ffffff;
    color: #1364F1;
    border: 1px solid #1364F1;
  }

  .border-box{
    border-radius: 1px ;
    border-color: #F0F0F0;
  }


  .hover_box{
    background-color: transparent;
  }

  .main_hover_box:hover  .hover_box{
    background-color: #e7effe !;
  }
  