.mar-bot-2{
    margin-bottom: -8px;
}
.bg-color{
    background-color: #F3F3F399 !important;
}
.bg-white{
    background-color: white;
}

.card {
    margin: 1rem 0;
  }
  
  @media (max-width: 576px) {
    .card {
      margin-left: auto;
      margin-right: auto;
    }
  }
  