.site-layout .site-layout-background {
  background: #ffffff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.w-20{
  width: 20% !important;
}
.header-background-color{
  background-color: #F0F0F1;
}
.header-responsive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.bg-sidebar{
  background-color: #021536 !important; 
}
.footer {
  text-align: center;
  background-color: #021536; 
  color: white; 
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}
.line-height{
  line-height: 0px !important;
}

.menu-button {
  display: none;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-layout .ant-layout-sider {
  background-color: #021536 !important;
}
:where(.css-dev-only-do-not-override-zg0ahe).ant-menu-dark,
:where(.css-dev-only-do-not-override-zg0ahe).ant-menu-dark > .ant-menu {
  background-color: #021536 !important;
}
:where(.css-dev-only-do-not-override-zg0ahe).ant-menu-dark
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-zg0ahe).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
    background-color: #021536 !important;
  border-radius: 0 !important;
  margin: 0 !important;
  width: 100% !important;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-menu-inline .ant-menu-item,
:where(.css-dev-only-do-not-override-zg0ahe).ant-menu-vertical .ant-menu-item,
:where(.css-dev-only-do-not-override-zg0ahe).ant-menu-inline
  .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-zg0ahe).ant-menu-vertical
  .ant-menu-submenu-title {
  margin: 10px 0px 0px 0px !important;
}

.site-layout .site-layout-background {
  background-color: #ffffff !important;
}
:where(.css-dev-only-do-not-override-m4timi).ant-drawer .ant-drawer-header {
  display: none;
  flex: 0;
  align-items: center;
  padding: 16px 24px;
  font-size: 16px;
  line-height: 1.5;
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-layout-header {
  height: 80px !important;
}
:where(.css-dev-only-do-not-override-zg0ahe).ant-drawer .ant-drawer-content {
  background-color: #021536 !important;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-drawer .ant-drawer-header {
  display: none !important;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-drawer .ant-drawer-content {
  width: 70% !important;
}
:where(.css-dev-only-do-not-override-m4timi).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-m4timi).ant-menu-dark > .ant-menu .ant-menu-item-selected {
  background-color: #1A273E;
}

/* Show menu button and hide the Sider on small screens */
@media (max-width: 992px) {
  .header-responsive .menu-button {
    display: grid;
  }
  .sider-responsive {
    display: none;
  }
  .drawer-responsive .ant-drawer-body {
    padding: 0;
  }
  

}


@media (max-width: 768px) {
  .res-header-background-color {
      width: 100%;
      padding: 0 !important;
      margin: 0 !important;
  }
  .res-bg{
    background-color: white;
      }
      .full-width{
        width: 100vw !important;
          }
}