.active-button{
  justify-content: flex-start;
  align-items: baseline;
  gap: 8px;
}
.bg-lightblue{
    background-color: #E7F0FE;
}

.border-color{
    border: 1px solid #D9D9D9;
    border-radius: 4px;
  }

.size-small{
  height: 120px;
  width: 150px;
}
  
.custom_plus_width{
  width: 30px !important;
}
.circle{
  display: inline-block;
  height: 54px;
  width: 54px;
}
.font-color1{
   color: #202020BF;
}
.bg-0{
  background-color: #FF8282 ;
  border: 2px solid #A02121;
}
.bg-1{
  background-color: #59C3FF ;
}
.bg-2{
  background-color:  #FFEF61;
}
.bg-3{
  background-color:#F4B1FF;
  
}
.bg-4{
  background-color:#9BFFED;
}
.bg-5{
  background-color:#F3F3F3;
}
.bg-6{
  background-color:#131313;
}
.top-up-button{
  background-color: #E7F0FE;
  color: #1364F1;
  border: 1px solid #1364F1;
}
.button-color{
  background-color: #1364F1 !important;
}
.w-30{
  width: 30% !important;
}
.w-22{
  width: 20% !important;
}

@media (max-width: 768px) {
  .wid-smal-50 {
    width: 50% !important;
  }
}
@media (max-width: 768px) {
  .wid-smal-100 {
    width: 100% !important;
  }
}