select {
  outline: none;
}


.form-switch .form-check-input {
  width: 3em !important;
}
.margin-0{
  margin:0rem !important;
}
.border_radius_blue{
  border-bottom: 2px solid #1364F1 ;
}

.custom_col {
  width: 17% !important;
}
label {
  display: inline-block;
  padding-left: 5px;
}

.w-20{
  width: 10% !important;
}
.bg_yellow {
  background-color: #ffca00;
}
.subscription-box{
  height: 264px;
  width: 234px;
  background-color: #F8F8F8;
}
.dashboard-text-color{
  color: #151515;
}
.subcription-text-color{
  color: #202020;
}
.text-color{
  color:#666666 ;
}
.text-blue{
  color:#1364F1 ;
}

.card_hight {
  height: 123px !important;
}
.custom-Modal{
  position: absolute;
    top: 42%;
    left: -12%;
    
  }
  
  .underline-blue {
    text-decoration: underline;
    text-decoration-color: blue;
  }
.button-bg-color{
  background-color: #1364F1;
}

.z_index {
  z-index: 2345;
}

.pulsh_img {
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
}

.dropdown-toggle::after {
  display: none;
  margin-left: .255em;

}
.box {
  background-color: #f8f8f8;
}
.form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
  display: block;
  width: 100%;
 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.recharge-options {
  overflow-x: auto;
}

.recharge-card {
  min-width: 80px;
}
label {
  display: inline-block !important;
  padding-left: 5px !important;
  padding-top: 7px !important;
}
.form-check-input {
 
  width: 2em !important;
  height: 2em !important;
 
}
@media (max-width: 576px) {
  .recharge-card span {
    font-size: 14px;
  }

  .recharge-card {
    min-width: 60px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .recharge-card span {
    font-size: 16px;
  }

  .recharge-card {
    min-width: 70px;
  }
}

@media (max-width: 768px) {
  .custom_col {
    width: 30% !important;
  }
}
@media (max-width: 768px) {
  .custom-gap {
    gap: 2rem !important;
  }
}

@media (max-width: 768px) {
  .custom_col {
    width: 30% !important;
  }
}
@media (max-width: 768px) {
  .custom-Modal{
    position: absolute;
      top: 52%;
      left:1%;
      
    }
    
}


