.Custom_button{
  background-color: #ffffff;
  color: #1364F1;
  border: 1px solid #1364F1;
}

.border-box{
  border-radius: 1px ;
  border-color: #F0F0F0;
}


.hover_box{
  background-color: transparent;
}

.main_hover_box:hover  .hover_box{
  background-color: #e7effe !;
}
.Custom_button{
  border: 1px solid #1364F1;
  color: #1364F1;
  background-color:transparent;

  
}


.m--2{
margin-left: -10%;
}
.w-8{
  width: 8%;
}
.margin-top-custom {
  margin-top: 20px; 
}
.checkbox{
  height: 24px;
  width: 24px;
  background-color: #e7effe;
}
.circle0{
  height: 46px;
  width: 46px ;
  background-color: #1364F1;
  color: white;
  border-radius: 30px ;
}
.circle1{
  height: 46px;
  width: 46px ;
  background-color: #F3F3F399;
  color: black;
  border-radius: 30px ;
}

.Accept-button{
  background-color: #0E80291A;
  color: #0E8029;
  border: none;
}
.Decline-button{
  background-color: #EB001B1A;
  color: #EB001BBF;
  border: none;
}
.border-color{
  border: 1px solid #CECECE4D;
}


.table-responsive {
overflow-x: auto;
}

.notification-header {
font-size: 24px; 
}

@media (max-width: 768px) {
.notification-header {
  font-size: 18px; 
}

.description-text {
  -webkit-line-clamp: 1;
}
}

.description-text {
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
}

.circle0, .circle1 {
width: 40px;
height: 40px;
background-color: #1364F1;
color: white;
/* background-color: #ddd; */
text-align: center;
line-height: 40px;
}

.Accept-button, .Decline-button {
padding: 0.375rem 0.75rem;
font-size: 0.875rem;
}

.notification-item {
background: #f8f9fa;
border-radius: 0.5rem;
padding: 1rem;
}

@media (max-width:768px) {
.md-fs_18{
  font-size: 18px;
}
}
@media (max-width:768px) {
.initial-reps{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
}
@media (max-width:768px) {
.sm-fs_16{
  font-size: 15px;
  
}
}
@media (max-width:768px) {
.text-reponsive{
  font-size: 10px;
  padding-left: 23% ;
}
}
@media (max-width:768px) {
.respon-desc{
  text-wrap: nowrap;
  font-size: 12px;
  padding-left: 90px ;

  overflow: hidden;
  
}
}